@import "tailwindcss";

/* Turnkey Font Family */



@font-face {
  font-family: "Turnkey";
  src: url("./assets/fonts/Turnkey-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Turnkey";
  src: url("./assets/fonts/Turnkey-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Turnkey";
  src: url("./assets/fonts/Turnkey-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Turnkey";
  src: url("./assets/fonts/Turnkey-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Turnkey";
  src: url("./assets/fonts/Turnkey-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Turnkey";
  src: url("./assets/fonts/Turnkey-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Turnkey";
  src: url("./assets/fonts/Turnkey-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Turnkey";
  src: url("./assets/fonts/Turnkey-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Turnkey";
  src: url("./assets/fonts/Turnkey-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: "Turnkey", sans-serif;
}

html,
body {
  scroll-behavior: auto;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}